/* ============
     DMs Panel
   ============ */
   
/* Nitro, Shop and Quests */
li:has(a[data-list-item-id$="___nitro"]),
li:has(a[data-list-item-id$="___shop"]),
li:has(a[data-list-item-id$="___quests"]) {
    display: none !important;
}


/* ==========
    Settings
   ========== */

/* Billing and Nitro Section */
li:has([data-settings-sidebar-item="nitro_panel"]) {
    display: none !important;
}

/* Data Collection */
div[data-nav-anchor-key="data_usage_statistics_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_personalization_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_quests_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_quests_3p_setting"] {
    display: none !important;
}

/* Nitro Rewards in Connections */
div[data-nav-anchor-key="connections_connected_accounts_category"],
.divider__1de9c:has(+ div[data-nav-anchor-key="connections_connected_accounts_category"]) {
    display: none !important;
}

/* Age Verification */
div[role="tabpanel"][id="content_and_social_main_tab-tab"] .noticeWrapper__35939 {
    display: none !important;
}
div[data-nav-anchor-key="account_info_age_group_verify_setting"] {
    display: none !important;
}

/* Themes (Nitro-Only or redundant because of Vencord */
div[data-nav-anchor-key="appearance_theme_category"]
+ .divider__1de9c {
    display: none !important;
}
div[data-nav-anchor-key="appearance_theme_category"] {
    display: none !important;
}
div[data-nav-anchor-key="appearance_in_app_icon_category"]
+ .divider__1de9c {
    display: none !important;
}
div[data-nav-anchor-key="appearance_in_app_icon_category"] {
    display: none !important;
}
div:has([data-list-item-id="settings-sidebar___appearance_theme_category"])
div[role="list"][style*="--custom-nav-count"] {
    --custom-nav-count: 4 !important;
}