/* ============
     DMs Panel
   ============ */
   
/* Nitro, Shop and Quests */
li:has(a[data-list-item-id$="___nitro"]),
li:has(a[data-list-item-id$="___shop"]),
li:has(a[data-list-item-id$="___quests"]) {
    display: none !important;
}


/* ==========
    Settings
   ========== */

/* Billing and Nitro Section */
li:has([data-settings-sidebar-item="nitro_panel"]) {
    display: none !important;
}

/* Data Collection */
div[data-nav-anchor-key="data_usage_statistics_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_personalization_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_quests_setting"] {
    display: none !important;
}
div[data-nav-anchor-key="data_usage_quests_3p_setting"] {
    display: none !important;
}

/* Nitro Rewards in Connections */
div[data-nav-anchor-key="connections_connected_accounts_category"],
.divider__1de9c:has(+ div[data-nav-anchor-key="connections_connected_accounts_category"]) {
    display: none !important;
}